@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.slick-arrow:before {
  color: red !important;
  font-size: 20px !important;
}
.slick-prev {
  top: -30px !important;
  left: 885px !important;
}
.slick-next {
  top: -30px !important;
  right: 10px !important;
}

.ant-card-body {
  padding: 10px !important;
}
